.chat-main
  .main-top
    .main-top-box
      .main-top-box__group-name
        = @group.name
      .main-top-box__member
        Members:
        - @group.users.each do |user|
          = user.name
    .main-top-edit
      = link_to "#", class: "main-top-edit__btn" do
        Edit


  .main-message
    = render @messages

  .main-form
    = form_for [@group, @message] do |f|
      .form-box
        .input-box
          = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon("fa", "image")
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'