.chat-side
  .side-top
    .side-top-box
      %p.side-top-box__user-name
        = current_user.name
      .side-top-box__btn
        = link_to new_group_path, class: "side-top-box__btn" do
          = icon("far", "edit", class: "side-top-box__btn--edit")
          %span<>

        = link_to edit_user_path(current_user), class: "side-top-box__btn" do
          = icon("fas", "cog", class: "side-top-box__btn--cog")
          %span<>

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "groups__btn" do
          .group__group-name 
            = group.name
          .group__message
            = group.show_last_message